
.get-title{
	color:#0288D1;
} 
.ui.basic.blue.label {
	background-color: #FFF!important;
	color: #2185D0!important;
	border-color: #2185D0!important;
}
.ui.basic.green.label{
	background-color: #FFF!important;
	border-color: #16ab39!important;
	color: #16ab39!important;
}

.ui.basic.label {
	background: #FFF;
	border: 1px solid rgba(34,36,38,.15);
	color: rgba(0,0,0,.87);
	box-shadow: none;
}

.ui.label {
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	vertical-align: baseline;
	margin: 0 .14285714em;
	background-color: #E8E8E8;
	background-image: none;
	padding: .4233em .633em;
	color: rgba(0,0,0,.6);
	text-transform: none;
	font-weight: 500;
	border: 0 solid transparent;
	border-radius: .28571429rem;
	-webkit-transition: background .1s ease;
	transition: background .1s ease;
}
td.collapsing, th.collapsing {
    width: 1px;
    white-space: nowrap;
}
#article {
	-webkit-animation-duration: 0.3s;
	-webkit-animation-delay: 0s; 
}
.uk-accordion-title {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 5px 15px;
    background: #f7f7f7;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    border: 1px solid #E5E5E5;
    border-radius: 4px; 
}
.active-background
{
	background-color: #EEEEEE;
}
.tm-footer{
	background-color: #252525;
	padding: 20px 0;
}
.tm-footer > .uk-container{
	color: #ddd;
}
.status_code  table{
	border: 1px solid black;
}
.status_code  th{
	border-bottom: 1px solid black;
}
.status_code  td{
	border-bottom: 1px solid black;
}
td.collapsing, .ui.table th.collapsing {
	width: 1px;
	white-space: nowrap;
}