#main {
  background: #fff;
  border: 1px solid #ddd;
  width: 95%;
  margin: 20px auto auto auto;
}
.divider {
  background:#ddd;
  height: 1px;
  width: 100%;
  display: block;
  margin: 20px 0;

}
.overlay-background {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  i {
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 35px;
    height: 35px;
  }
}
#store {
  td {
    cursor: pointer;
  }
  td:hover {
    background: #dcdcdc;
  }
  .uk-form {
    .warning {
      color: #d85030;
      font-weight: normal;
      font-size: 12px;
    }
  }
}
#phone {
  tbody {
    tr {
      cursor: pointer;
    }
    tr:hover {
      background: #dcdcdc;
    }
  }
}
