html, body {
  position: relative;
  height: 100%; }

#login {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 271px; }
  #login .uk-panel {
    margin: auto;
    padding: 20px 60px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }
  #login .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 27px;
    height: 27px; }

/*# sourceMappingURL=login.css.map */
